.header {
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    /* opacity: 50%; */
    background: rgba(0, 0, 0, 0.4);
    height: 10vh;
}

.innerElement {
    padding-left: 50px;
}

h1 {
    color: black;
    padding-left: 1vh;
}

.headerWrapper {
    display: flex;
    border-radius: 10px;
    height: 9vh;
    align-items: flex-end;
    padding-left: 10px;
}